.container {
	height: 100vh;
	width: 100vw;
	background-image: url('/landing-background.svg');
	background-size: cover;

	display: flex;
	gap: 150px;
	flex-direction: column;
	position: relative;
}

.middle {
	display: flex;
	gap: 140px;
	flex-direction: column;
	align-items: center;
}

.title {
	font-family: 'Cardo';
	font-weight: 400;
	font-size: 200px;
	color: white;
}

.bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.explore-now {
	height: 57px;
	width: 196px;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.explore-now:hover {
	scale: 1.05;
}

.footer {
	display: flex;
	gap: 25px;
	position: absolute;
	left: 78px;
	bottom: 60px;
}

.footer img {
	cursor: pointer;
}
