.container {
    height: 100vh;
    width: 100vw;
    background-image: url('/landing-background.svg');
    background-size: cover;

    display: flex;
    gap: 178px;
    flex-direction: column;
    position: relative;
}

.top {
    height: 118px;
    display: flex;
    gap: 401px;
}

.logo {
    height: 52px;
    width: 52px;
}
.navbar {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 45px 78px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    justify-content: space-between;
}

.nav-wrapper {
    color: white;
    display: flex;
    gap : 60px;
}

.google {
    height: 40px;
    width: 116px;
}

.middle {
    display: flex;
    gap: 97px;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Cardo';
    font-weight: 400;
    font-size: 200px;
    color : white;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explore-now {
    height: 57px;
    width: 196px;
}

.footer {
    display: flex;
    gap: 25px;
    position: absolute;
    left: 78px;
    bottom: 60px;
}