.container {
	position: relative;
	width: 420px;
	height: 180px;
	padding: 20px;
	background: #ffffff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.card-img {
	position: absolute;
	height: 180px;
	width: 180px;
	border-radius: 10px;
	top: -20px;
	left: 20px;
	object-fit: cover;
}
.right {
	margin-left: 200px;
}

.right-top {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.right-top-left {
	display: flex;
	flex-direction: column;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	width: 147px;
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	justify-content: center;
}

.right-top-left span {
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	color: #8e8e8e;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.stars-wrapper {
	display: flex;
}

.more-info {
	height: 34px;
	width: 180px;
	margin-top: 17px;
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.more-info:hover {
	scale: 1.05;
}

.right-bottom-left-top-right {
	display: flex;
	gap: 6px;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
}

.right-bottom-top {
	display: flex;
	justify-content: space-between;
	margin-top: 18px;
}
.right-top-right {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.right-top-right svg,
.right-top-right img {
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.right-top-right svg:hover,
.right-top-right img:hover {
	scale: 1.05;
}

.type {
	position: absolute;
	top: -20px;
	left: 202px;
}
