.container {
	background: #f7f7f7;
	position: relative;
}

.wrapper {
	display: flex;
}

.left {
	display: flex;
	flex-direction: column;
	padding: 30px;
	min-width: 440px;
	height: calc(100vh - 118px);

	background: #f1f1f1;
	border-right: 1px solid #c0c0c0;

	position: fixed;
	margin-top: 119px;
	overflow: hidden;
}

.right {
	display: flex;
	flex-direction: column;
	padding-top: 186px;
	width: calc(100vw - 440px);
	align-items: center;
	margin-left: 440px;
}

.total-results {
	font-weight: 400;
	font-size: 22px;
	line-height: 33px;
	color: #454545;
}

.line {
	border-bottom: 1px solid #c0c0c0;
	width: 900px;
	margin-top: 5px;
}

.content {
	margin-top: 68px;
}

/* map */

.map-cover {
	border: 1px solid #c0c0c0;
	border-radius: 20px;
	display: flex;
	height: fit-content;
	width: fit-content;
	overflow: hidden;
}
